<div class="mt-4">
    <div class="container-fluid" style="background-color: white; border-radius:15px;padding-left:1px;padding-right:1px">
        {{#if user}}
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart" style="border: 2px solid rgb(255, 136, 0); border-radius: 15px 0 0 15px">
                    <div class="title pt-2">
                        <div class="row">
                            <div class="col text-left">
                                <h4 class="ml-5"><b>Giỏ hàng</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted">{{this.numberOfProduct}} sản phẩm
                            </div>
                        </div>
                    </div>

                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-1">#</div>
                            <div class="col">
                                <div class="row">Sản phẩm</div>
                            </div>
                            <div class="col"> Đại lý</div>
                            <div class="col"> Giá bán</div>
                            <div class="col-2"> Số lượng</div>
                            <div class="col"> Thành tiền </div>
                             <span class="close">----</span>
                        </div>
                    </div>
                    {{#if products}}
                    {{#each products}}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-1">{{sum @index 1}}</div>
                            <div class="col">
                                <div class="row text-muted">MSP: {{this.productID}}</div>
                                <div class="row">{{this.productName}} </div>
                            </div>
                            <div class="col"> {{this.storeName}}</div>
                            <div class="col"> {{this.cost}}$</div>
                            <div class="col-2"> {{this.quantity}}</div>
                            <div class="col">{{this.total}}$</div>
                            
                            <span class="close">
                                    <a style="text-decoration:none"
                                        href="/removeFromCart?productID={{this.productID}}">&#10005;</a>
                                </span>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}


                    <div class="back-to-shop"><a style="text-decoration:none" href="/">&leftarrow; Tiếp tục mua sắm</a><span
                            class="text-muted"></span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Thông tin giao hàng</b></h5>
                    </div>
                    <form method="post" action="/addToOrder">
                        {{#each user}}
                        <div class="form-row mb-2">
                            Họ tên
                            <input type="text" name="name" disabled id="full-name" class="input-text"
                                value="{{this.TenKH}}" required>

                        </div>
                        <div class="form-row mb-2">
                            Địa chỉ giao hàng
                            <input type="text" name="address" id="your-address" class="input-text" name="address"
                                value="{{this.DiaChi}}" required>
                        </div>
                        <div class="form-row mb-2">
                            Số điện thoại
                            <input type="text" name="phone" id="phone-number" class="input-text" required
                                value="{{this.SDT}}" disabled pattern="0[0-9]{9}">
                        </div>
                        {{/each}}
                        <div class="form-row mb-2">

                            <label for="age">Hình thức giao hàng</label>
                            <select class="custom-select" id="inputGroupSelect01" name="fee">
                                <option selected value="3">Giao hàng thường - 3$</option>
                                <option value="4">Giao hàng nhanh - 4$</option>
                                <option value="6">Giao hàng siêu tốc - 6$</option>
                            </select>
                        </div>
                        <div class="form-row mb-2">

                            <label for="age">Hình thức thanh toán</label>
                            <select class="custom-select" id="inputGroupSelect01" name="payments">
                                <option selected value="1">Thanh toán sau khi nhận hàng</option>
                                <option value="2">Thanh toán bằng momo</option>
                                <option value="2">Thanh toán băng thẻ ngân hàng</option>
                            </select>
                        </div>
                        
                        <div class="form-row mt-3">
                            <h4>Tổng tiền: {{#with grandTotal}} {{this}}{{/with}}$</h4>
                        </div>
                        <div class="form-row-last mt-3">
                            <input type="submit" name="register" class="register btn-primary" value="Xác nhận mua hàng">
                            
                    </form>
                    
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">

                    </div>
                </div>
            </div>
            {{else}}
            <br><br><br><br><br>
            <h1>BẠN PHẢI <a href="/sign-in">ĐĂNG NHẬP</a> ĐỂ THẤY GIỎ HÀNG</h1>
            {{/if}}

        </div>
    </div>