<div class="mt-4">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            {{#each orders}}
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="card h-100 border-2 border-primary">
                    <a href="/my-orders/{{this.MaDH}}" class="text-decoration-none">
                        <div class="card-header">
                        <h5><b>ĐƠN HÀNG {{sum @index 1}}</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="text-left">

                            <div class="text-grey-m2">

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Mã số hoá đơn: </span> 00{{this.MaDH}}</div>

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Ngày đặt: </span> {{this.NgayLap}}</div>

                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Tình trạng: </span> <span
                                        class="badge badge-warning badge-pill px-25">{{this.TrangThaiDH}}</span>
                                </div>
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Tổng tiền: </span> {{this.TongTien}}đ</div>
                            </div>
                        </div>
                    </div>
                    
                    </a>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>